<h1> Task name : <%=@task.title  %></h1>


<h2>Details:</h2> <%= @task.details  %>


<div>
    <% if @task.completed == true %>
<h3> This task is completed ✅</h3>
    <% else %>
<h3> This task is not completed yet ❌</h3>
    <% end %>

</div>

<div>
<a href="/tasks">Back to all Tasks</a>
</div>
