<h1 class="container"> Task: <%=@task.title  %></h1>

<div class="container">
    <% if @task.completed == true %>
<h4> This task is completed ✅</h4>
    <% else %>
<h4> This task is not completed yet ❌</h4>
    <% end %>

</div>

<h5 class="container">Details: <%= @task.details  %> </h5> 

<br>
<div class="container">
<%= link_to("Click to Edit", edit_task_path(@task)) %> 
</div>







<h5 class="container">
<a href="/tasks">Back to all Tasks</a>
</h5>